:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --footer-text-colors: rgba(255, 255, 255, 0.6);
  --background-color-hero-footer: #2f303a;
  --main-background-color: #ffffff;
  --backgrount-color-team: #f5f4fa;
  --backgrount-btn-active: #188ce8;
  --border-header: #ececec;
  --border-portfolio-pictures: #eeeeee;
  --link-icons-color: #afb1b8;
  --footer-background-icons: rgba(255, 255, 255, 0.1);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
