.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;

  border: none;
  border-radius: 50%;
  outline: none;
  @media screen and (min-width: 768px) {
    & {
      display: none;
    }
  }
}
.menu-toggle:hover .mob-menu__icons-rows,
.menu-toggle:focus .mob-menu__icons-rows {
  fill: var(--blue-color);
}
.menu-toggle:hover .mob-menu__icons-cross,
.menu-toggle:focus .mob-menu__icons-cross {
  fill: var(--blue-color);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
  @media screen and(max-width:420px) {
    padding-left: 20px;
  }
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding: auto;
  background-color: var(--white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  &.is-open {
    transform: translateX(0);
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  display: block;

  color: var(--secondary-text-color);
  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}
.mobile-menu__contacts-item {
  margin-bottom: 32px;
}

.mobile-menu__contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  display: block;

  color: var(--primary-text-color);
  &:hover,
  &:focus {
    color: var(--blue-color);
    font-size: 34px;
    line-height: 1.17;

    letter-spacing: 0.02em;
  }
}
.mobile-menu__soc-list {
  @media screen and(max-width:420px) {
    display: flex;
    flex-wrap: wrap;
  }
  display: flex;

  gap: 20px;
}
.mobile-menu__soc-item {
  position: relative;
  &::after {
    content: "";
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    position: absolute;
    right: -20px;
    top: 50%;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.mobile-menu__soc-links {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--blue-color);
  &:hover,
  &:focus {
    color: var(--backgrount-btn-active);
  }
}
